body {
    font-family: Arial, sans-serif;
    background-image: url(./midias/img/planofundo.png);
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center;
    background-repeat: no-repeat; /* Remove repetições */
    text-align: center;
    margin: 0;
    padding: 20px;
    position: relative; /* Permite o uso de ::before */
    z-index: 1;
    cursor: url('./midias/img/iconmonstr-cat-2-32.png'), default;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Fundo branco com transparência */
    z-index: -1; /* Fica atrás do conteúdo do body */
   
}


.container {
    padding-right: 22;
    max-width: 900px;
    margin: 0 auto;
    height: 400px;
    background-color: #E5D6C3;
    padding: 110px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(185, 19, 121, 0.509);
}

h1 {
    font-family: "Cute Font", sans-serif;
    color: #172540;
    font-size: 70px;
    margin-bottom: 10px;
}

h3 {
    color: #172540;
}

#game-container {
    position: relative;
    height: 100px;
    width: 100%;
    background-image: url(./midias/img/cenario2.jpg);
    background-color: #673b3b;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

#cat {
    
    width: 100px;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 0;
    transform: scaleX(-1);  
    background-image: url('./midias/img/gato_correndo.gif'); /* IMAGEM DO GATO */
    background-size: cover;
    z-index: 1;
}

#house {
    
    width: 70px;
    height: 70px;
    position: absolute;
    top: 25px;
    right: 0;
    background-image: url('./midias/img/casa.png'); /*IMAGEM DA CASA */
    background-size: cover;
}

#question-container {
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.choice-btn {
    padding-top: 25px;
    font-size: 15px;
    box-shadow: 0 0 10px rgb(138, 121, 169);
    display: inline-block;
    padding: 15px 30px;
    margin: 5px;
    border: none;
    background-color: #172540;
    color: #fff;
    border-radius: 50px;
    cursor: url('./midias/img/iconmonstr-cat-2-32.png'), default;
}

.choice-btn:hover {
    background-color: #2f4c78;
}

#feedback {
    font-size: 18px;
    margin-top: 20px;
}

.hidden {
    display: none;
}



